/**
* Default CSS menu
* @version 1.0.0
* @author Thapelo Moeti
*
*   Default styling of a CSS drop menu.
*/

.nav-menu {
    padding: 0;
    margin: 0;
}

.nav-menu > li {
    float: left;
}

.nav-menu > li:first-child {
    padding-left: 0;
}

.nav-menu:after {
    content: "";
    display: table;
    clear: both;
}

.nav-menu li {
    list-style: none;
    margin: 0;
    padding: 0.5em 0.8em;
    position: relative;
}

.nav-menu a {
    text-decoration: none;
}

.nav-menu .sub-menu,
.nav-menu .children {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #fff;
    display: none;
}

.nav-menu .sub-menu .sub-menu,
.nav-menu .children .children {
    min-width: 100%;
    left: 100%;
    top: 0;
}

// we should probably handle this in JavaScript
.nav-menu li:hover > .sub-menu,
.nav-menu li > a:focus ~ .sub-menu,
.nav-menu li:hover > .children,
.nav-menu li > a:focus ~ .children {
    display: block;
}
