/*!
* Basic Style
* @version 1.0.0
* @author Thapelo Moeti
*/

// Colors
$primaryColor: #000;
$primaryBackColor: 'transperant';
$lightShadedBackColor: #ECECEC;
$darkShadedBackColor: #ccc;
$white: #fff;

// Font
$fontFamily: tahoma, helvetica, sans-serif;
$fontSize: 16px;

// Padding
$defaultPadding: 1em;
$inputPadding: 0.3em;

* { 
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    word-wrap: break-word;
    color: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: $white;
}

@import '_h1';

a {
    color: inherit;
}

a:focus {
    outline: thin dotted;
}

a:hover {
    outline: 0; 
    text-decoration: none;
}

a img,
a img:hover {
    outline: 0; 
    border: none;
}

address {
    line-height: $fontSize * 1.3;
    margin: $defaultPadding ($defaultPadding * 0.5);
}

address span {
    display: block;
}

acronym,
abbr {
    text-decoration: underline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

blockquote {
    margin: $defaultPadding * 1.5;
    padding: $defaultPadding;
    border-left: 5px solid $primaryColor;
    background-color: $lightShadedBackColor;
}

blockquote p {
	padding: $defaultPadding 0;
	margin: 0;
}

blockquote > footer,
blockquote > cite {
  padding: $defaultPadding * 0.5;
  font-style: italic;
}

blockquote > footer:before,
blockquote > cite:before {
	content: "—";
	padding-right: $defaultPadding;
	font-size: $fontSize * 0.9;
}

code {
    color: #FF0033;
    padding: 0 0.3em;
}

dd {
    padding: ($defaultPadding * 0.5) ($defaultPadding * 1.5);
}

dfn {
    font-style: italic;
}

dl {
    padding: ($defaultPadding * 0.5) $defaultPadding;
}

dt {
    margin-top: $defaultPadding * 0.5;
    font-weight: bold;
}

hr {
    border-top: 1px solid #ADADAD;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    height: 0;
    margin: ($defaultPadding * 1.5) $defaultPadding;
}

img {
    max-width: 100%;
    height: auto;
}

img[src=""] {
    display: none;
}

kbd {
    background-color: #000;
    color: #FFF;
    padding: 3px;
    display: inline-block;
    font-size: 90%;
    margin-right: 2px;
    border-radius: 3px;
}

ol,
ul {
    margin: $defaultPadding ($defaultPadding * 1.3);
}

ol:first-child,
ul:first-child {
    margin-top: 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0 $defaultPadding;
}

ol > li > ol {
    list-style: lower-alpha;
}

ol > li > ol > li > ol {
    list-style: lower-roman;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

pre {
    padding: $defaultPadding;
    background-color: #EDEDED;
    margin: $defaultPadding;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #444;
}

code,
kbd,
pre,
tt {
    font-family: monospace, sans-serif;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body > section {
    padding-bottom: ($defaultPadding * 2);
}

body > section:last-child {
    padding-bottom: 0;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: $fontSize * -1 * 0.5;
}

sub {
    bottom: $fontSize * -1 * 0.25;
}

svg:not(:root) {
    overflow: hidden;
}

blockquote > *:last-child {
    margin-bottom: 0;
}

[hidden],
template,
tmpl {
    display: none;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    text-align: right;
    margin-left: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.list-none,
.style-none {
    list-style: none;
}

.list-inline > li {
    display: inline-block;
}

.row:before,
.clearfix:before,
.row:after,
.clearfix:after,
dl.horizontal:after {
    clear: both;
    content: close-quote;
    display: table;
    height: 0;
}

dl.horizontal dt,
dl.horizontal dd {
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: $defaultPadding * 0.3;
}

dl.horizontal dt {
    clear: both;
    width: 25%;
}

dl.horizontal dd {
    width: 75%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: $defaultPadding 0;
}

table th {
    font-size: $fontSize * 0.95;
}

table td,
table th {
    padding: $inputPadding;
    border: 1px solid;
}

tr:hover {
    background-color: $lightShadedBackColor;
}

table.no-borders,
table.no-borders th,
table.no-borders td {
    border: none;
}

table.shaded th {
    background-color: $darkShadedBackColor;
}

table.shaded tr:nth-child(2n+3) {
    background-color: $lightShadedBackColor;
}

table.no-side-borders td {
    border: 1px solid;
    border-width: 0 0 1px;
}

table.no-side-borders th {
    border: 3px solid;
    border-width: 3px 0;
}

table.v-align-top td {
    vertical-align: top;
}

table:first-child {
    margin-top: 0;
}

small,
.small {
    font-size: 75%;
}

b,
.bold,
strong {
    font-weight: bold;
}

i,
.italic {
    font-style: italic;
}

u,
.underline {
    text-decoration: underline;
}

del,
.strikeout {
    text-decoration: line-through;
}

nav {
    position: relative;
}

@import '_forminputs';

@import '_navmenu';

@import '_miscclasses';



@media screen and (max-width: 767.99px) { 
    dl.horizontal dt,
    dl.horizontal dd {
        width: 100%;
    }
    
    .nav-menu .sub-menu, 
    .nav-menu .children{
        min-width: 100%;
    }
}
